

body{
     background-image: url('https://cutewallpaper.org/21/black-gif-background/Black-gif-background-3-GIF-Images-Download.gif');
     background-size: cover;
     background-position: all;
     overflow: auto;
     background-attachment: fixed;
    }

    nav{
      text-align: center;
  
     }

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

     p.p1{
      font-family: 'Raleway';
      color: whitesmoke;
      margin-left: 150px;
      margin-top: 30px;
      font-size: 20px;
      position: absolute;
     }
 
 p.p1:hover{
            color: lightblue;
            
           }
 
 p.p2{
  font-family: 'Raleway';
      color: whitesmoke;
      margin-left: 400px;
      margin-top: 30px;
      font-size: 20px;
      position: absolute;
     }
 
 p.p2:hover{
            color: lightblue;
           }


div.mee{
        background-color: #191919;;
        width: 450px;
        height: 680px;
        color: white;
        margin-left: 1025px;
        margin-top: 10px;
        box-shadow: 0px 7px 0px lightgray, 0px -7px 0px lightgray;
      }

@import url('https://fonts.googleapis.com/css2?family=Raleway');

p.text{
       font-family: 'Raleway';
       font-size: 25px;
       margin-top: 10px;
      }

p.text2{
       font-family: 'Raleway';
       font-size: 40px;
       margin-top: 350px;
      }

p.text3{
       font-family: arial ;
       font-size: 15px;
       margin-top: -3px;
       color: lightgray;
       text-align: center;
      }      

img.me{
       width: 340px;
       height: 300px;
       position: absolute;
       margin-top: -580px;
       margin-left: -170px;
     
      }

img.me:hover{
             -webkit-transform:scale(1.1);
              transform:scale(1.1);
}

img:hover{
             overflow:hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

h1{
   font-family: 'Raleway';
   color: white;
   font-size: 100px;
   text-align: center;
   margin-top: 360px;
   margin-left: 90px;
   position: absolute;
  }
  
h1:hover{
           color: gray;
          }

h1:hover{
         transform: scale(1.1);
  }

div{ 
    /*background-color: #191919;*/
    box-shadow: 0px 7px 0px lightgray, 0px -7px 0px lightgray;   
    text-align: center;   
    font-family: arial;
    width: 500px;
    height: 115px;
    padding: 10px;
    margin: 15px;
    color: lightgray;
    position: absolute;
    margin-left: 10px;
    margin-top: -15px;
   }

img.tesla{
          width: 400px;
          height: 200px;
          margin-top: 160px;
          margin-left: 50px;
          position: absolute;
         }

div.dos{ 
    background-color: #191919;
    box-shadow: 0px 7px 0px lightgray, 0px -7px 0px lightgray;   
    text-align: center;   
    font-family: arial;
    width: 500px;
    height: 115px;
    padding: 10px;
    margin: 15px;
    color: lightgray;
    position: absolute;
    margin-left: 10px;
    margin-top: 400px;
   }

   video{
    width: 1500px;
    height: 1000px;
    position: absolute;
    top: 800px;
    left: 100;
    object-fit: cover;
    background-attachment: fixed;
    opacity: 1;
   }

/*@import url('https://fonts.googleapis.com/css2?family=Raleway');*/

h1.more{
        font-family: 'Raleway';
        color: white;
        text-shadow: 0px 1px 6px lightgray;
        margin-top:2000px;
        margin-left: 320px;
        position: absolute;
       }

div.abajo{
          background-color: #191919;
          box-shadow: 0px 5px 0px lightgray, 0px -5px  0px lightgray;  ;
          width: 700px;
          height: 100px;
          margin-top: 2200px;
          margin-left: 10px;
          position: absolute;
         }

div.abajoo{
           background-color: #191919;
           box-shadow: 0px 5px 0px lightgray, 0px -5px 0px lightgray;  ;
           width: 700px;
           height: 100px;
           margin-top: 2200px;
           margin-left: 770px;
           position: absolute;
          }

div.abajooo{
            background-color: #191919;
            box-shadow: 0px 5px 0px lightgray, 0px -5px 0px lightgray;  ;
            width: 700px;
            height: 100px;
            margin-top: 2400px;
            margin-left: 400px;
            position: absolute;
           }
  
div.abajoooo{
             font-size: 20px;
             background-color: #000000;
             box-shadow: 0px 2px 0px lightgray, 0px -2px 0px lightgray;  
             width: 1450px;
             height: 20px;
             margin-top: 2700px;
             margin-left: 10px;
             position: absolute;
             padding: 15px;
            }

div.imagenes{
             width: 1460px;
             height: 2380px;
             margin-top: 2800px;
             position: absolute;
             background-color: black;
             /*opacity: 0.9;*/
            }

* {
  margin:0;
  padding:0;
  color:#fff;
  font-family:Arial;
}

div.imamissa {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-image: url("https://i.pinimg.com/564x/a8/36/34/a83634a269a84a7ca89f4a66df4bacfa.jpg");
  margin: 30px auto;
}

div.infomissa {
  position:absolute;
  overflow:hidden;
  width: 400px;
  height: 400px;
  background-color: rgba(31, 31, 31, 0.9);
  opacity:0;
  transition: opacity 0.3s;
  margin-left: -10px;
  margin-top: -10px;

}

div.imamissa:hover div.infomissa {
  opacity:1;
}

p.titumissa {
  position: absolute;
  font-size: 1.5rem;
  margin-left: 190px;
  margin-top: 15px;
  transition: margin-left 0.3s;
}

div.imamissa:hover p.titumissa {
  margin-left: 126px;
}

p.descrimissa {
  font-size: 1rem;
  text-align: center;
  margin-top: 200px;
  transition: margin-top 0.4s;
}

div.imamissa:hover p.descrimissa {
  margin-top: 170px;
}

* {
  margin:0;
  padding:0;
  color:#fff;
  font-family:Arial;
}

div.imaris {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-image: url("https://i.pinimg.com/564x/0b/10/ad/0b10adeca6da2ef565f7d32bf1f18ecb.jpg");
  margin: 30px auto;
  margin-left: 1040px;
}

div.inforis{
  position:absolute;
  overflow:hidden;
  width: 400px;
  height: 400px;
  background-color: rgba(31, 31, 31, 0.9);
  opacity:0;
  transition: opacity 0.3s;
  margin-left: -10px;
  margin-top: -10px;

}

div.imaris:hover div.inforis {
  opacity:1;
}

p.tituris {
  position: absolute;
  font-size: 1.5rem;
  margin-left: 190px;
  margin-top: 15px;
  transition: margin-left 0.3s;
}

div.imaris:hover p.tituris {
  margin-left: 150px;
}

p.descriris {
  font-size: 1rem;
  text-align: center;
  margin-top: 200px;
  transition: margin-top 0.4s;
}

div.imaris:hover p.descriris {
  margin-top: 170px;
}

* {
  margin:0;
  padding:0;
  color:#fff;
  font-family:Arial;
}

div.imabug {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-image: url("https://i.pinimg.com/564x/df/0a/af/df0aafe5e97cf68bca4c1d3aa9bcf009.jpg");
  margin: 30px auto;
  margin-left: 1040px;
  margin-top: 500px;
}

div.infobug{
  position:absolute;
  overflow:hidden;
  width: 400px;
  height: 400px;
  background-color: rgba(31, 31, 31, 0.9);
  opacity:0;
  transition: opacity 0.3s;
  margin-left: -10px;
  margin-top: -10px;

}

div.imabug:hover div.infobug {
  opacity:1;
}

p.titubug {
  position: absolute;
  font-size: 1.5rem;
  margin-left: 190px;
  margin-top: 15px;
  transition: margin-left 0.3s;
}

div.imabug:hover p.titubug {
  margin-left: 150px;
}

p.describug{
  font-size: 1rem;
  text-align: center;
  margin-top: 200px;
  transition: margin-top 0.4s;
}

div.imabug:hover p.describug {
  margin-top: 170px;
}

* {
  margin:0;
  padding:0;
  color:#fff;
  font-family:Arial;
}

div.imacoral {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-image: url("https://i.pinimg.com/564x/b0/b4/93/b0b49334d9be6ea3aa6048d451aec12f.jpg");
  margin: 30px auto;
  margin-left: 1px;
  margin-top: 500px;
}

div.infocoral{
  position:absolute;
  overflow:hidden;
  width: 400px;
  height: 400px;
  background-color: rgba(31, 31, 31, 0.9);
  opacity:0;
  transition: opacity 0.3s;
  margin-left: -10px;
  margin-top: -10px;

}

div.imacoral:hover div.infocoral{
  opacity:1;
}

p.titucoral {
  position: absolute;
  font-size: 1.5rem;
  margin-left: 190px;
  margin-top: 15px;
  transition: margin-left 0.3s;
}

div.imacoral:hover p.titucoral {
  margin-left: 170px;
}

p.descoral {
  font-size: 1rem;
  text-align: center;
  margin-top: 200px;
  transition: margin-top 0.4s;
}

div.imacoral:hover p.descoral {
  margin-top: 170px;
}

* {
  margin:0;
  padding:0;
  color:#fff;
  font-family:Arial;
}

div.imatesla {
  width: 700px;
  height: 400px;
  background-size: cover;
  background-image: url("https://i.pinimg.com/564x/02/3e/d8/023ed84b674ef3ec7ed373e9b779896f.jpg");
  margin: 30px auto;
  margin-left: 365px;
  margin-top: 1500px;

}

div.infotesla {
  position:absolute;
  overflow:hidden;
  width: 700px;
  height: 400px;
  background-color: rgba(31, 31, 31, 0.9);
  opacity:0;
  transition: opacity 0.3s;
  margin-left: -10px;
  margin-top: -10px;

}

div.imatesla:hover div.infotesla{
  opacity:1;
}

p.titutesla {
  position: absolute;
  font-size: 1.5rem;
  margin-left: 190px;
  margin-top: 15px;
  transition: margin-left 0.3s;
}

div.imatesla:hover p.titutesla {
  margin-left: 290px;
}

p.descritesla {
  font-size: 1rem;
  text-align: center;
  margin-top: 200px;
  transition: margin-top 0.4s;
}

div.imatesla:hover p.descritesla {
  margin-top: 170px;
}

* {
  margin:0;
  padding:0;
  color:#fff;
  font-family:Arial;
}

div.imacity {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-image: url("https://i.pinimg.com/564x/5a/9e/aa/5a9eaaaa839ac25c207dce23792e5525.jpg");
  margin: 30px auto;
  margin-left: 1px;
  margin-top: 970px;

}

div.infocity {
  position:absolute;
  overflow:hidden;
  width: 400px;
  height: 400px;
  background-color: rgba(31, 31, 31, 0.9);
  opacity:0;
  transition: opacity 0.3s;
  margin-left: -10px;
  margin-top: -10px;

}

div.imacity:hover div.infocity{
  opacity:1;
}

p.titucity {
  position: absolute;
  font-size: 1.5rem;
  margin-left: 100px;
  margin-top: 15px;
  transition: margin-left 0.3s;
}

div.imacity:hover p.titucity {
  margin-left: 175px;
}

p.descity {
  font-size: 1rem;
  text-align: center;
  margin-top: 200px;
  transition: margin-top 0.4s;
}

div.imacity:hover p.descity {
  margin-top: 200px;
}







* {
  margin:0;
  padding:0;
  color:#fff;
  font-family:Arial;
}

div.imaluz {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-image: url("https://i.pinimg.com/564x/7b/e7/09/7be709e6bfc133b7cc7668cdef8b009f.jpg");
  margin: 30px auto;
  margin-left: 1040px;
  margin-top: 970px;

}

div.infoluz {
  position:absolute;
  overflow:hidden;
  width: 400px;
  height: 400px;
  background-color: rgba(31, 31, 31, 0.9);
  opacity:0;
  transition: opacity 0.3s;
  margin-left: -10px;
  margin-top: -10px;

}

div.imaluz:hover div.infoluz{
  opacity:1;
}

p.tituluz {
  position: absolute;
  font-size: 1.5rem;
  margin-left: 100px;
  margin-top: 15px;
  transition: margin-left 0.3s;
}

div.imaluz:hover p.tituluz {
  margin-left: 175px;
}

p.desluz {
  font-size: 1rem;
  text-align: center;
  margin-top: 200px;
  transition: margin-top 0.4s;
}

div.imaluz:hover p.desluz {
  margin-top: 200px;
}